{block navigace}
<a href="{plink Hlidac:default}">Hlídač objednávek</a> / <a href="{plink Skupiny:default}">Správa skupin</a> / {include #title}
{/block}

{block content}
<h1>{block #title}Editace skupin{/block}</h1>
{control upravitSkupinu}