{block navigace}
<a href="{plink Hlidac:default}">Hlídač objednávek</a> / <a href="{plink Oblasti:default}">Správa oblastí</a> / {include #title}
{/block}

{block content}
<h1>{block #title}Editace oblasti{/block}</h1>
{control upravitOblast}