{block navigace}
{/block}

{block content}

	{default $users = array()}
	<ul n:foreach="$users as $user">
		<li>{$user['name']} {$user['surname']}</li>
	</ul>

	{control myForm begin}
	{if !$control['myForm']['users']->isSubmittedBy()}
		{control myForm errors}
	{/if}
	{control myForm body}
	{control myForm end}

{/block}

