common: 
  php: # PHP configuration
    date.timezone: Europe/Prague
    # session.save_path: "%tempDir%/sessions"
    # zlib.output_compression: yes
  nette:
    debugger:
      strictMode: true
      bar:
        - @sessionPanel
    session:
      autoStart: smart
      expiration: +5 days   
  services:
    model:
      class: Model
      arguments: [%database%]
    connection:
      class: DibiConnection(%database%)
    authenticator: Authenticator
    polozkyOpravy:
      class: PolozkyOpravy
      arguments: [@session]
    sessionPanel:
      class: SessionPanel
      arguments:
        - @session
  factories:
  parameters: 
    language: 'cs'
    currency: 'Kč'           

development < common:
  parameters: 
    database:
      driver: mysql
      host: localhost
      database: hlidacobjednavek
      username: root
      password: okno
      profiler: TRUE
      charset: utf8
    
production < common:
  parameters: 
    database:
      driver: mysql
      host: localhost
      database: hlidacobjednavek
      username: root
      password: okno
      profiler: TRUE
      charset: utf8