{block navigace}
<a href="{plink Hlidac:default}">Hlídač objednávek</a> / {include #title}
{/block}

{block content}
<h1>{block #title}Tiskové výstupy{/block}</h1>
<ul>
    <li><a href="{plink Vystupy:automatynew}">Automaty</a></li>
    <li><a href="{plink Vystupy:automaty}">Seznam zákazníků</a></li>
    <li><a href="{plink Vystupy:zakaznici}">Odběry</a></li>
    <li><a href="{plink Vystupy:trasy}">Trasy</a></li>
    <li><a href="{plink Vystupy:zbozi}">Sklad</a></li>
</ul>