{block navigace}
<a href="{plink Hlidac:default}">Hlídač objednávek</a> / {include #title}
{/block}

{block content}
<h1>{block #title}Export{/block}</h1>
<p>Generování exportu může trvat i několik desítek sekund v závislosti na velikosti databáze.</p>
{control nastavitExport}