{block navigace}
<a href="{plink Hlidac:default}">Hlídač objednávek</a> / {include #title}
{/block}

{block content}
<h1>{block #title}Nová oprava{/block}</h1>
{snippet oprava}
<a class="ajax" href="{plink Clean!}"><button>Promazat</button></a>
<div class="opravy">
    {foreach $skupiny as $item}
        <h2>{$item->nazev}</h2>

        <table class="table opravy">
            <thead>
                <tr>
                    <th>Počet</th>
                    <th>Popis</th>
                    <th>Cena</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {assign $i => 0}
                {foreach $polozky as $polozka}
                    {if $polozka->id_skupina == $item->id_skupina}
                        {if $i % 2 }
                             <tr class="slight_border licha">
                        {else}
                             <tr class="slight_border suda">
                        {/if}

                        <td>
                        {$polozka->pocet}
                        </td><td>
                        {$polozka->popis}
                        </td><td>
                        {$polozka->cena |number:2:',':' '} Kč
                        </td><td>
                        <a  class="ajax delete" href="{plink Delete!, $polozka->id}"><img alt="Smazat" src="{$basePath}/images/delete.png"></a>
                        {assign $i => $i+1}
                        </td>
                        </tr>
                    {/if}
                {/foreach}
            </tbody>
        </table>
        <div class="oprava_skupina">
            {control opravaPolozkaForm-$item->id_skupina}
        </div>
    {/foreach}
    <div id="cena">Cena: {$cena |number:2:',':' '} Kč</div>
    {control zadatOpravuForm}
</div>
{/snippet}