{block navigace}
<a href="{plink Hlidac:default}">Hlídač objednávek</a> / {include #title}
{/block}

{block content}
<h1>{block #title}Detail opravy{/block}</h1>
{snippet stranky}
{control vp}
<table class="table opravy">
    <thead>
        <tr>
            <th>Popis</th>
            <th>Počet</th>
            <th>Cena za kus</th>
            <th>Cena celkem</th>
            <th>Skupina</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {if count($items) == 0}
            <tr class="licha"><td colspan="8">Žádná data</td></tr>
        {/if}

	{assign $i => 0}
        {assign $cena_celkem => 0}
	{foreach $items as $item}	
		{if $i % 2 }
                     <tr class="slight_border licha">
                {else}
                     <tr class="slight_border suda">
                {/if}

		<td>
                {$item->popis}
                </td><td>
                {$item->pocet}
                </td><td>
                {$item->cena |number:2:',':' '} Kč
                </td><td>
                {$item->cena*$item->pocet |number:2:',':' '} Kč
                </td><td>
                {$item->nazev}
                </td><td>
                {if $user->isInRole('admin')}
		<a class="ajax delete" href="{plink DeleteAkce!, $item->id_akce}"><img alt="Delete" src="{$basePath}/images/delete.png"></a>
                {else}
                &nbsp;
                {/if}
		{assign $i => $i+1}
                {assign $cena_celkem => $cena_celkem + $item->cena*$item->pocet}
		</td>
		</tr>
	{/foreach}
    </tbody>
</table>
<p>
Celková cena: {$cena_celkem |number:2:',':' '} Kč
</p>
{/snippet}
{if $user->isInRole('admin')}
    <h2>Přidání položky</h2>
    {snippet form}
        {control pridatPolozku}
    {/snippet}
{/if}