{block navigace}
<a href="{plink Hlidac:default}">Hlídač objednávek</a> / {include #title}
{/block}

{block content}
<a href="{plink opravy:default, $id_automat}">Zadat novou opravu</a>
<h1>{block #title}Seznam oprav{/block}</h1>
{snippet stranky}
{control vp}
<table class="table opravy">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Celková cena</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {if count($items) == 0}
            <tr class="licha"><td colspan="8">Žádná data</td></tr>
        {/if}

	{assign $i => 0}
        {assign $cena_celkem => 0}
	{foreach $items as $item}	
		{if $i % 2 }
                     <tr class="slight_border licha">
                {else}
                     <tr class="slight_border suda">
                {/if}

		<td>
                    <a href="{plink detail, $item->id_oprava}">{$item->formatovane_datum}</a>
                </td><td>
                {$item->cena |number:2:',':' '} Kč
                </td><td>
		<a class="ajax delete" href="{plink DeleteOprava!, $item->id_oprava}"><img alt="Delete" src="{$basePath}/images/delete.png"></a>
		{assign $i => $i+1}
                {assign $cena_celkem => $cena_celkem + $item->cena}
		</td>
		</tr>
	{/foreach}
    </tbody>
</table>
<p>
Celková cena za toto období: {$cena_celkem |number:2:',':' '} Kč
</p>
{/snippet}