{block navigace}
<a href="{plink Hlidac:default}">Hlídač objednávek</a> / {include #title}
{/block}

{block content}
<h1>{block #title}Správa zákazníků{/block}</h1>

{snippet formZakaznici}
    {control filtrZakaznici}
{/snippet}
{snippet stranky}
{control vp}
<table class="table zakaznici">
    <thead>
        <tr>
            <th>Název společnosti</th>
            <th>Adresa</th>
            <th>IČ</th>
            <th>Telefon</th>
            <th>email</th>
            <th>Osobní zákazník</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {if count($items) == 0}
            <tr class="licha"><td colspan="7">Žádná data</td></tr>
        {/if}
	{assign $i => 0}
	{foreach $items as $item}
            {if $item->id_zakaznik != 0}
		{if $i % 2 }
                     <tr class="slight_border licha">
                {else}
                     <tr class="slight_border suda">
                {/if}

		<td>
		<a href="{plink Edit, $item->id_zakaznik}">{$item->nazev}</a>
		<td>
		{$item->adresa}
                </td>
		<td>
		{$item->ico}
                </td>
		<td>
		{$item->telefon}
                </td>
		<td>
                {if $item->email != ""}
                    <a href="mailto:{$item->email}">{$item->email}</a>
                {/if}
                </td>
                <td>
		{$item->osobni_zakaznik ? "Ano" : "Ne"}
                </td>
                <td>
		<a class="ajax delete"  href="{plink Delete!, $item->id_zakaznik}"><img alt="Smazat" src="{$basePath}/images/delete.png"></a>
                <a href="{plink Edit, $item->id_zakaznik}"><img alt="Upravit" src="{$basePath}/images/edit.png"></a>
		{assign $i => $i+1}
		</td>
		</tr>
            {/if}
	{/foreach}
    </tbody>
</table>
{/snippet}
<div id="novy_zakaznik">
<h2>Nový zákazník</h2>
{snippet form}
    {control pridatZakaznika}
{/snippet}
</div>

