{block navigace}
<a href="{plink Hlidac:default}">Hlídač objednávek</a> / <a href="{plink Zakaznici:default}">Správa zákazníků</a> / <a href="{plink Zakaznici:edit, $id_zakaznik}">Editace zákazníka</a> / {include #title}
{/block}

{block content}
<h1>{block #title}Editace smlouvy{/block}</h1>
{control upravitSmlouvu}